// borrowed from https://codepen.io/tutsplus/pen/WROvdG

/* START data-tooltip STYLES */
[data-tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all data-tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
  @extend .font-size-m;
  text-transform: none;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: "Neue Helvetica W01", sans-serif;
  text-align: center;

  /*
    Let the content set the size of the data-tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 30em;
  white-space: pre;
  overflow: hidden;
  padding: .5rem;
  border-radius: $sc-border-radius;
  background: $color-dark-gray;
  color: $color-light-gray;
  z-index: 1000; /* absurdity 2 */
}

/* Make the data-tooltips respond to hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: inline-block;
}

/* don't show empty data-tooltips */
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([data-tooltip-flow])::before,
[data-tooltip][data-tooltip-flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[data-tooltip]:not([data-tooltip-flow])::after,
[data-tooltip][data-tooltip-flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-tooltip-flow])::before,
[data-tooltip]:not([data-tooltip-flow])::after,
[data-tooltip][data-tooltip-flow^="up"]::before,
[data-tooltip][data-tooltip-flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[data-tooltip][data-tooltip-flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[data-tooltip][data-tooltip-flow^="down"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-tooltip-flow^="down"]::before,
[data-tooltip][data-tooltip-flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[data-tooltip][data-tooltip-flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[data-tooltip][data-tooltip-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[data-tooltip][data-tooltip-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[data-tooltip][data-tooltip-flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes data-tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes data-tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[data-tooltip]:not([data-tooltip-flow]):hover::before,
[data-tooltip]:not([data-tooltip-flow]):hover::after,
[data-tooltip][data-tooltip-flow^="up"]:hover::before,
[data-tooltip][data-tooltip-flow^="up"]:hover::after,
[data-tooltip][data-tooltip-flow^="down"]:hover::before,
[data-tooltip][data-tooltip-flow^="down"]:hover::after {
  animation: data-tooltips-vert 300ms ease-out forwards;
}

[data-tooltip][data-tooltip-flow^="left"]:hover::before,
[data-tooltip][data-tooltip-flow^="left"]:hover::after,
[data-tooltip][data-tooltip-flow^="right"]:hover::before,
[data-tooltip][data-tooltip-flow^="right"]:hover::after {
  animation: data-tooltips-horz 300ms ease-out forwards;
}
