.sc-checkbox {
  $self: &;
  @extend .flex, .items-center;

  margin-bottom: 13px;
  cursor: pointer;

  &__box {
    @extend .mr2;
    width: 20px;
    height: 20px;
    border-radius: $sc-border-radius;
    border: 1px solid $color-dark-gray;
    display: block;
    position: relative;
    flex-shrink: 0;

    #{$self}--checked & {
      background: $color-primary;
      border-color: $color-primary;
    }

    > .sc-md-icon {
      color: $color-white;
      font-size: $sc-font-size-xl;
      position: absolute;
      top: -1px;
      left: -1px;
    }
  }
}
